<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hrbust.materials.c.mapper.COutputMapper">
    <select id="getOutputs" resultType="org.hrbust.materials.c.entity.output">
        select * from output
    </select>
</mapper>