<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hrbust.materials.b.mapper.BIncomeMapper">
    <select id="getIncomes" resultType="org.hrbust.materials.b.entity.income">
        select * from income
    </select>
</mapper>